@page
@model BesporbemanWeb.Pages.Admin.Categories.Kinds.DeleteModel

<form method="post">
	<input hidden asp-for="Kind.Id" />
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary pl-3">Create Kind</h2>
            <hr />
		</div>
		<div asp-validation-summary="All"></div>
		<div class="mb-3">
			<label asp-for="Kind.Type"></label>
			<input asp-for="Kind.Type" class="form-control" />
			<span asp-validation-for="Kind.Type" class="text-danger"></span>
		</div>
		<button type="submit" class="btn btn-primary" style="width:150px;">Delete</button>
		<a asp-page="Index" class="btn btn-secondary"  style="width:150px;"> Back</a>
	</div>
	
</form>

@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial"/>
	}
}