@page
@model BesporbemanWeb.Pages.Admin.Advertisement.IndexModel


<div class="container p-3">
	<div class="row pt-4">
		<div class="col-6">
			<h2 class="text-primary">Advertisement List</h2>
		</div>
		<div class="col-6 text-end">
			<a asp-page="Upsert" class="btn btn-primary">
				<i class="bi bi-plus-square"></i> &nbsp;Create New Advertise
			</a>
		</div>
	</div>

	<br /><br />

	<table id="DT_load" class="table table-bordered table-striped" style="width:100%">
		<thead>
			<tr>
				<th>Title</th>
				<th>Kind</th>
				<th>Material</th>
				<th>Weight</th>
                <th>Date</th>
				<th>Status</th>
				<th></th>
			</tr>
		</thead>
	</table>

</div>

@section Scripts{
	<script src="~/js/advertisement.js"></script>
}